<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS bootstrap fragment-->

    <link
      th:fragment="boostrapLink"
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <!-- Script bootstrap -->
    <script
      th:fragment="bootstrapScript"
      th:src="@{/webjars/bootsrap/5.3.3/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
