<!DOCTYPE html>
<!-- Creo template dinamico thymeleaf -->
<html xmlns="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <title>Best of the Year</title>
    <link th:replace="~{fragments :: boostrapLink}" />
  </head>
  <body>
    <!-- Aggiungo un titolo dinamico -->
    <h1>Best of the year <span th:text="${nome}"></span></h1>

    <script th:replace="~{fragments :: bootstrapScript}"></script>
  </body>
</html>
