<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Best Movies</title>

    <link th:replace="~{fragments :: boostrapLink}" />
  </head>
  <body>
    <h1>Best Movies</h1>
    <ul>
      <!-- Mi ciclo la lista passata e per ogni elemento mi fa un tag a dove estrapola id e titolo -->
      <li th:each="movie : ${movies}">
        <a
          th:href="@{/movies/{id}(id=${movie.id})}"
          th:text="${movie.titolo}"
        ></a>
      </li>
    </ul>
    <a href="/">Torna alla Home</a>

    <script th:replace="~{fragments :: bootstrapScript}"></script>
  </body>
</html>
